@import 'tailwindcss';
@import 'flowbite/src/themes/default';

@plugin "flowbite/plugin";

@source "../../node_modules/flowbite";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Cairo', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

input[type="date"],
.en-numbers,
.date-input {
    direction: ltr !important;
    text-align: center;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "numr" 0, "tnum" 1;
}

input[type="date"]::-webkit-date-and-time-value {
    text-align: center;
}